
    <!-- start footer Area -->
    <footer class="footer-area aquablue-bg">
        <div class="container">
            <div class="footer-bottom row justify-content-center mt-70">
                <h4>{{ site.footer_title }}</h4>
                <p class="footer-text m-0 col-lg-6 col-md-12">
                  
                        <p>
                            {{ site.footer_description }}
                        </p>
                </p>
            </div>
           
            <div class="footer-bottom row justify-content-center mt-70">
                <p class="footer-text m-0 col-lg-6 col-md-12">{{ site.copyright_text }}
                    <a href="{{ site.company_url }}">{{ site.name }}</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
